* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #212529;
    color: rgb(184, 0, 132);
    text-align: center;
    min-width: 500px;
}

p {
    font-size: 1.5rem;
    font-weight: 400;
}

.container {
    width: 100%;
    padding: 20px;
}

.read {
    background-color: #212529;
    color: rgb(184, 0, 132);
    border: 1px solid rgb(184, 0, 132);
    border-radius: 5px;
    padding: 10px;
    font-weight: 400;
    margin: 20px;
}

.read:hover {
    background-color: rgb(184, 0, 132);
    color: #212529;
    border: 1px solid rgb(184, 0, 132);
    border-radius: 5px;
}

.read:active {
    background-color: rgb(0, 181, 184);
    color: #212529;
    border: 1px solid rgb(184, 0, 132);
    border-radius: 5px;
}